.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529
}

.table th,
.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6
}

table.table-scores {
    border-collapse: separate;
    border-spacing: 0 6px
}

table.table-scores th,
table.table-scores td {
    background-color: #f4f9fd;
    width: 9.375rem;
    text-align: center;
    border: none
}

table.table-scores th:first-child,
table.table-scores td:first-child {
    width: 3.125rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem
}

table.table-scores th:last-child,
table.table-scores td:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem
}

.btn {
    background: rgba(var(--primary-600));
}

.btn:hover {
    background: rgba(var(--primary-500));
}

.btn-bordered {
    color: rgba(var(--primary-600));
    border: 1px solid rgba(var(--primary-600));
    transition: all 0.3s ease;
}

.btn-bordered:hover {
    color: #fff;
    background: rgba(var(--primary-600));
}